@use '~/styles/helpers/mixins' as *;

.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  inline-size: min(420px, 100%);
  margin-inline: auto;
  padding-block: 46px;

  @include pre-lg {
    min-block-size: var(--block-size);
  }
}

.mainBlock {
  margin-block: auto;
}

.buttonWrap {

  :global(.button) {
    inline-size: 100%;
  }

  @include lg {
    margin-block-start: 8px;
  }
}

.footer {
  text-align: center;

  a {
    color: inherit;
    text-decoration: underline;
  }

  @include pre-lg {
    margin-block-start: auto;
  }

  @include lg {
    margin-block-start: 40px;
  }
}
