@use '~/styles/helpers/mixins' as *;

body:has(.commonMap) {
  background-color: var(--primary-background);
}

.commonMap {
  position: relative;
  block-size: 100%;

  .commonMapContent {
    block-size: 100%;
    padding: 0;
  }

  :global {

    .site-centered {
      display: grid;
      grid-template-rows: auto;
      position: relative;
      inline-size: 100%;
      block-size: 100%;
      padding: 0;

      @include lg {
        grid-template-rows: auto 1fr;
      }
    }

    .mapboxgl-map {
      //block-size: var(--block-size)!important;
      isolation: isolate;
    }
  }
}

.userLocationMarker {
  inline-size: 16px;
  block-size: 16px;
  border-radius: 50%;
  background-color: var(--primary-red);
  border: 2px solid var(--primary-white);
  box-shadow: 0 0 0 4px rgba(219, 19, 19, 0.3);
}
