@use '~/styles/helpers/mixins' as *;

.wrap {
  position: relative;

  input {
    padding-inline-end: 40px;
  }
}

.button {
  display: flex;
  place-items: center;
  place-content: center;
  position: absolute;
  inset-block: 0;
  inset-inline-end: 0;
  aspect-ratio: 1/1;
  transition: color .3s ease;
  color: #2D2D2D;
  cursor: pointer;

  &:hover {
    color: #db1313;
  }
}
