@import '~/styles/helpers/mixins';

.list {
  display: grid;
  gap: 20px;
  grid-auto-rows: max-content;
  block-size: 100%;
  margin-inline: -7px -14px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    inline-size: 8px;
  }

  &::-webkit-scrollbar-thumb {
    inline-size: 8px;
    border-radius: 6px;
    background-color: #9b9b97;
    cursor: pointer;
  }

  @include lg {
    padding-inline: 7px 14px;
  }
}
