@use '~/styles/helpers/mixins' as *;

.item {
  position: relative;
  display: block;
  inline-size: 100%;
  aspect-ratio: 1/1;

  figure,
  picture,
  img {
    display: block;
    inline-size: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
  }

  figcaption {
    position: absolute;
    inset-inline-start: 0;
    inset-inline-end: auto;
    inset-block-end: 0;
    margin: 0;
    padding: 0 4px;
    font-size: 10px;
    line-height: 15px;
    color: #fff;
    background: rgba(45, 45, 45, 0.8);
    white-space: nowrap;
    text-shadow: none;
  }
}
