.article {
  display: grid;
  grid-template-columns: 100%;
  gap: 14px;

  > p {
    width: 97%;
  }

  :is(p, li, blockquote) a {
    color: currentColor;
    text-decoration: underline;
  }

  h1 {
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;

    &:not(:first-child) {
      margin-block-start: 26px;
    }

    @include lg {
      font-size: 50px;
      line-height: 60px;
    }
  }

  h2 {
    font-size: 32px;
    line-height: 1;

    &:not(:first-child) {
      margin-block-start: 26px;
    }
  }

  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    font-size: 22px;
    line-height: 1;
  }

  ul,
  ol {
    display: grid;
    gap: 8px;
    //margin-inline-start: 12px;
  }

  ul {
    li {
      position: relative;
      display: list-item;
      padding-inline-start: 29px;

      &::before {
        content: '';
        position: absolute;
        inset-inline-start: 11px;
        inset-block-start: 10px;
        inline-size: 5px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: currentColor;
      }
    }
  }

  ol {
    counter-reset: li;

    li {
      counter-increment: li;
      position: relative;
      padding-inline-start: 29px;

      &::before {
        content: counter(li) '. ';
        position: absolute;
        inset-inline-start: 0;
      }
    }
  }

  blockquote {
    display: grid;
    gap: 38px;
    position: relative;
    margin-block: 52px 82px;

    &:after {
      position: absolute;
      inset-inline-start: 0;
      inset-block-start: -45px;
      font-weight: 700;
      color: #db1313;
      font-size: 82px;
      line-height: 1;
      content: '“';
    }

    p:not(:last-child) {
      padding-right: 15px;
      font-weight: 700;
      font-size: 50px;
      line-height: 60px;
      letter-spacing: -1.1px;
    }

    p:last-child {
      position: relative;
      padding-left: 60px;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 17px;
      line-height: 22px;
      text-align: right;
    }
  }

  address {
    font-style: normal;
    line-height: 26px;
  }

  :where(figure) {
    margin: 0;
  }

  .wp-block-gallery.has-nested-images figure.wp-block-image:has(figcaption):before {
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
    content: none !important;
    mask-image: none !important;
    -webkit-mask-image: none !important;
  }

  figure,
  .wp-block-gallery.has-nested-images figure.wp-block-image {
    position: relative;

    figcaption {
      position: absolute;
      inset-inline-start: 0;
      inset-inline-end: auto;
      inset-block-end: 0;
      margin: 0;
      padding: 0 4px;
      font-size: 10px;
      line-height: 15px;
      color: #fff;
      background: rgba(45, 45, 45, 0.8);
      white-space: nowrap;
      text-shadow: none;

      a {
        color: currentColor;
      }
    }
  }
}
